@model Employee
@{
    ViewData["Title"] = "Details";
    var photopath = "~/Images/" + (Model.PhotoPath ?? "NoImage.jpg");

}
<div class="mt-4">
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

<div class="row justify-content-center mt-4">
    <div class="col-sm-8">
        <div class="card">
            <div class="card-header">
                <h4>@Model.Name</h4>
            </div>
            <div class="card-body text-center">
                <img class="card-img-top" src="@photopath"
                     height="350" width="80" asp-append-version="true" />
                <h6>Employee Id : @Model.Id</h6>
                <h6>Email : @Model.Email</h6>
                <h6>Dob : @Model.Dob</h6>
                <h6>Gender : @Model.Gender</h6>
                <h6>Department : @Model.Department</h6>

            </div>
            <div class="card-footer text-center">
                <a asp-action="Index" asp-controller="home" class="btn btn-primary m-1">Back</a>
                <a asp-action="edit" asp-controller="home" asp-route-id="@Model.Id" class="btn btn-primary m-1">Edit</a>
                <a asp-action="Delete" asp-controller="home" asp-route-id="@Model.Id" 
                   class="btn btn-danger m-1"  onclick="return confirm('are you sure you want to delete @Model.Name record??')">Delete</a>

            </div>
        </div>
    </div>
</div>
